{% extends 'base.html' %}

{% block title %}BlogIt • Add New Experience{% endblock title %}

{% load static %}

{% block content %}

{% comment %} navbar {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Blog-it!!!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={% url 'explore' %}>Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'add_new_experience' %}>Add New Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'my_experiences' %}>My Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'bookmarks' %}>Bookmarks</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href={% url 'edit_profile' %}>Edit Profile</a></li>
            <li><a class="dropdown-item" href={% url 'change_pass' %}>Change Password</a></li>
          </ul>
        </li>
      </ul>

      <form class="d-flex" action={% url 'logout' %} method="post">
        {% csrf_token %}
        <button class="btn btn-outline-danger" type="submit">LOGOUT</button>
      </form>

    </div>
  </div>
</nav>







<div class="d-flex justify-content-center my-5"><h2><u>Add Your Interview Experience</u></h2></div>

{% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}



<form action="" method="post" class="m-5">
    {% csrf_token %}

    {% comment %} <div class="form-group m-4">
        <label for="companyName">Company Name</label>
        <input type="text" class="form-control" id="companyName" name="company">
    </div>

    <div class="form-group m-4">
      <label for="selectoffer">Select Offer Type</label>
      <select id="selectoffer" name="job_offer">
          <option value="Summer Internship">Summer Internship</option>
          <option value="Winter Internship & Job">Winter Internship & Job</option>
          <option value="Job">Job</option>
          <option value="Winter Internship Only">Winter Internship Only</option>
      </select>
    </div>

    <div class="form-group m-4">
        <label for="offer_month">Month and Year</label>
        <input type="month" class="form-control" id="offer_month" name="job_month">
    </div>

    
    
    <div class="form-group m-4">
        <label for="Inputjob">Job Profile</label>
        <input type="text" class="form-control" id="Inputjob" name="job_profile">
    </div>

    <hr>
    <div class="form-group m-4">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <textarea name="body_content" id="my-textarea" cols="30" rows="10" hidden></textarea> {% endcomment %}


    {{ form.media }}
    {{ form.as_p }}


    <div class="m-3 d-flex justify-content-center">
        <a href={% url 'add_new_experience' %} class="btn btn-danger m-2">RESET</a>
        <button type="submit" class="btn btn-success m-2">POST EXPERIENCE</button>
    </div>
</form>





{% endblock content %}









	