{% extends 'base.html' %}

{% block title %}Blog • {{ art.title }}{% endblock title %}

{% block content %}

{% comment %} <h1> {{ art.title }} </h1>
<p> by , {{ art.author.first_name }} {{ art.author.last_name }} ({{ art.author.degree}},{{ art.author.program}}) </p>
<h4> {{ art.body }} </h4> {% endcomment %}

{% comment %} jyot = {{ art.month_year }}
jyot.strftime('%B %Y') {% endcomment %}



<div class="card m-4">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3 class="fs-2">{{ art.title }}</h3>
            <div onclick="myfunc()"><a href="#" id="bk_tag" class="btn btn-outline-warning">Bookmark &nbsp;<i class="fa-solid fa-bookmark"></i></a></div>
           {% comment %} <div onclick="myfunc()"><a href="#" id="bk_tag" class="btn btn-outline-warning">Bookmark</a></div> {% endcomment %}
        </div>
        <h6 class=""> {{ art.author.first_name }} {{ art.author.last_name }}, {{ art.author.degree}} in {{ art.author.program}}</h6>
    </div>
    <div class="card-body">
        <p class="">Profile: {{art.profile}}</p>
        <p> {{art.job_offer}} at {{art.company}} <small>(in {{ art.year }})</small> </p>
        <hr>
        <p class="mt-5 card-text fs-5">{% autoescape off %} {{ art.body }} {% endautoescape %}</p>
        <div class="d-flex justify-content-end mt-5"><p class="text-secondary">Last upadated: {{ art.pub_date}}</p></div>
    </div>
</div>


<a href={% url 'explore' %} class="m-4 btn btn-outline-secondary"> Back</a>

<script>
    function myfunc() {
        const element = document.getElementById("bk_tag")
        if(element.innerHTML == 'Remove from Bookmark &nbsp;<i class="fa-solid fa-bookmark"></i>')
            element.innerHTML = 'Bookmark &nbsp;<i class="fa-solid fa-bookmark"></i>'
        else
            element.innerHTML = 'Remove from Bookmark &nbsp;<i class="fa-solid fa-bookmark"></i>'
    }
</script>


{% endblock content %}

