{% extends 'base.html' %}

{% block title %}Blog • Edit Post{% endblock title %}

{% block content %}

{% if user.id == post.author.id %}


{% comment %} navbar {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Blog-it!!!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'explore' %}>Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'add_new_experience' %}>Add New Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'my_experiences' %}>My Experiences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'bookmarks' %}>Bookmarks</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href={% url 'edit_profile' %}>Edit Profile</a></li>
              <li><a class="dropdown-item" href={% url 'change_pass' %}>Change Password</a></li>
            </ul>
          </li>
        </ul>
  
        <form class="d-flex" action="logout/" method="post">
          {% csrf_token %}
          <button class="btn btn-outline-danger" type="submit">LOGOUT</button>
        </form>
  
      </div>
    </div>
  </nav>




<form action="" method="post" class="m-5">
    {% csrf_token %}

    {{ form.media }}
    {{ form.as_p }}

    <div class="m-3 d-flex justify-content-center">
        <a href={% url 'add_new_experience' %} class="btn btn-danger m-2">RESET</a>
        <button type="submit" class="btn btn-success m-2">Confirm Edit</button>
    </div>
</form>
</form>




{% else %}
You are not allowed to Edit this post !!!
{% endif %}

{% endblock content %}