{% extends 'base.html' %}

{% block title %} Blog • Explore {% endblock title %}

{% block content %}
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Blog-it!!!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={% url 'explore' %}>Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'add_new_experience' %}>Add New Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'my_experiences' %}>My Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'bookmarks' %}>Bookmarks</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href={% url 'edit_profile' %}>Edit Profile</a></li>
            <li><a class="dropdown-item" href={% url 'change_pass' %}>Change Password</a></li>
          </ul>
        </li>
      </ul>

      <form class="d-flex" action="logout/" method="post">
        {% csrf_token %}
        <button class="btn btn-outline-danger" type="submit">LOGOUT</button>
      </form>

    </div>
  </div>
</nav>


{% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}



{% for post in obj_list %}

  <div class="card m-4">
    <div class="card-header">
      <h2 class="card-title"> {{ post.title }} </h2>
      <p class="card-text"><small class="text-muted">by, {{ post.author.first_name }} {{ post.author.last_name }}</small></p>
    </div>
    <div class="card-body">
{%comment%}<p class="card-text">{% autoescape off %} {{post.body}} {% endautoescape %}</p>{%endcomment%}
{% comment %} {{ post.body | truncatewords:100 }} {% endcomment %}
      <p class="card-text">{{ post.body | safe }}</p> 
      <div class="d-flex justify-content-between mt-4">
        <a href={% url 'article_details' post.pk %} class="btn btn-secondary">Read Full Post</a> 
        <p class="text-secondary">Last upadated: {{ post.pub_date}}</p>
      </div>
    </div>
  </div>

{% endfor %}


{% endblock content %}