{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block content %} 

{% if error %}
    <p class="text-danger">{{error}}</p>
{% endif %}

<div class="m-5">
    <form  method='post' action='/login/'>
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInput" class="form-label">Email address / Student ID</label>
            <input type="text" class="form-control" id="exampleInput" name="email_user" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
        </div>

        <a class="text-muted" href={% url 'reset_password' %}>Forgotten Password !?</a>
        <div class="mb-5 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
        <a href={% url 'register' %}>don't have account, Register here</a>
    </form>
</div>





{% endblock content %}

