{% extends 'base.html' %}

{% block title %}My Experiences{% endblock title %}

{% block content %}


{% comment %} navbar {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Blog-it!!!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={% url 'explore' %}>Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'add_new_experience' %}>Add New Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'my_experiences' %}>My Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'bookmarks' %}>Bookmarks</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href={% url 'edit_profile' %}>Edit Profile</a></li>
            <li><a class="dropdown-item" href={% url 'change_pass' %}>Change Password</a></li>
          </ul>
        </li>
      </ul>

      <form class="d-flex" action={% url 'logout' %} method="post">
        {% csrf_token %}
        <button class="btn btn-outline-danger" type="submit">LOGOUT</button>
      </form>

    </div>
  </div>
</nav>





{% comment %} messages {% endcomment %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}




<h1 class="d-flex justify-content-center m-4"><u>My Experiences</u></h1>


{% comment %} search bar {% endcomment %}

<div class="bg-light m-5">
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>










{% comment %} Main content {% endcomment %}

{% for art in my_obj_list %}

<div class="card m-5">
    <div class="card-header">
        <h3 class="fs-2">{{ art.title }}</h3>
        <h6 class=""> {{ art.author.first_name }} {{ art.author.last_name }}, {{ art.author.degree}} in {{ art.author.program}}</h6>
    </div>

    <div class="card-body">
      <p class="">Profile: {{art.profile}}</p>
      <p> {{art.job_offer}} at {{art.company}} <small>(in {{ art.year }})</small> </p>
      <hr>
      <p class="mt-5 card-text fs-5">{% autoescape off %} {{ art.body }} {% endautoescape %}</p>
  </div>

    <div class="d-flex justify-content-between mt-4">
        <div>
        <a href={% url 'edit_post' art.pk %} class="btn btn-success m-3">Edit Post</a>

        {% comment %} <form action={% url 'edit_post' art.pk %} method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger m-3">Edit Post</button>
        </form> {% endcomment %}

        {% comment %} <form action={% url 'delete_post' art.pk %} method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger m-3">Delete</button>
        </form> {% endcomment %}
        
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{art.pk}}">
          Delete Post
        </button>

        </div>
        <p class="text-secondary m-3">Last upadated: {{ art.pub_date}}</p>
    </div>
</div>



{% comment %} Modal {% endcomment %}
<div class="modal fade" id="staticBackdrop{{art.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> Are you sure to delete this blog-post ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form action={% url 'delete_post' art.pk %} method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger m-3">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>



{% endfor %}

{% endblock content %}




