{% extends 'base.html' %}

{% block title %}My Experiences{% endblock title %}

{% block content %}


{% comment %} navbar {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Blog-it!!!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={% url 'explore' %}>Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'add_new_experience' %}>Add New Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'my_experiences' %}>My Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'bookmarks' %}>Bookmarks</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href={% url 'edit_profile' %}>Edit Profile</a></li>
            <li><a class="dropdown-item" href={% url 'change_pass' %}>Change Password</a></li>
          </ul>
        </li>
      </ul>

      <form class="d-flex" action="logout/" method="post">
        {% csrf_token %}
        <button class="btn btn-outline-danger" type="submit">LOGOUT</button>
      </form>

    </div>
  </div>
</nav>






<h1 class="d-flex justify-content-center m-4"><u>My Experience</u></h1>

{% for art in my_obj_list %}
{% comment %} 
  <div class="card m-4">
    <div class="card-body">
    <div class="d-flex justify-content-between">
        <h2 class="card-title"> {{ post.title }} </h2>
        <p class="card-text"><small class="text-muted">by, {{ post.author.first_name }} {{ post.author.last_name }}</small></p>
    </div>
      
    <p class="card-text">{{ post.body |safe }}</p> 

    <div class="d-flex justify-content-between">
      <a href="#" class="btn btn-secondary">Edit Post</a> 
      <a href="#" class="btn btn-danger">Delete Post</a> 
    </div>
  </div> {% endcomment %}


<div class="card m-5">
    <div class="card-header">
        <h3 class="fs-2">{{ art.title }}</h3>
        <h6 class=""> {{ art.author.first_name }} {{ art.author.last_name }}, {{ art.author.degree}} in {{ art.author.program}}</h6>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <p class="">Profile: {{art.profile}}</p>
            <small>{{ art.month_year|date:"F, Y"  }}</small>
        </div>
        <p> {{art.job_offer}} at {{art.company}}</p>
        <hr>
        <p class="mt-5 card-text fs-5">{{ art.body |safe }}</p>
    </div>

    <div class="d-flex justify-content-between">
        <a href={% url 'edit_post' art.pk %} class="btn btn-success m-2">Edit Post</a> 
        <a href="#" class="btn btn-danger m-2">Delete Post</a> 
    </div>
</div>

{% endfor %}

{% endblock content %}