{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}BlogIt • Register {% endblock title %}


{% block content %}
<h2 class="my-4 mx-5"><u>Register</u></h2>


<form class="m-5" method='post' action="/register/">
    {% csrf_token %}
    
    {{ form | crispy}}

    <div class="mb-5 d-flex justify-content-center">
        <button class="btn btn-primary" type="submit">REGISTER</button>
    </div>

</form>

<a href={% url 'login' %} class="text-success m-5">Already have account, Login here</a>

{% endblock content %}

